/*
1. Pocisionamiento
2. Modelo caja
3. Tipografia
4. Visuales
5. Otros
*/

:root{
    /*Colores*/
    --bitcoin-orange:#f7931a;
    --soft-orange:#ffe9d5;
    --secondary-blue:#1a9af7;
    --soft-blue:#e7f5ff;
    --waerm-black:#201e1c;
    --black:#282623;
    --grey:#BABABA;
    --off-white:#faf8f7;
    --just-white:#fff;
}

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
html{
    font-size: 62.5%;
    font-family:'DM Sans', sans-serif; 
}

/*
font-family: 'Inter', sans-serif;
*/

header{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100vw;
    min-width: 300px;
    height: 334px;
    text-align: center;
    background:linear-gradient(207.8deg, #201E1C 16.69%, #F7931A 100%);
}

header img {
    width: 150px;
    height: 24px;
    margin-top: 60px;
    align-self: center;
}
.header--title-containter{
    width: 90vw;
    min-width: 280px;
    max-width: 900px;
    height:218px;
    margin-top: 50px;
    text-align: center;
    align-self: center;
}
.header--title-containter h1{
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 26px;
    color: var(--just-white);
}

.header--title-containter p{
    margin-top: 25px;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 18px;
    color: var(--soft-orange);
}
.header--title-containter .header--button {
    position: absolute;
    left: calc(50% - 114.5px );/*Aca lo que hacemos es centrarlo verticalmente entonces lo corremos al 50% del contenedor pero le restamos la mitad de su tamaño para poder lograrlo*/
    top: calc(100% - 24px);/* Esto corre el boton al 100% del fondo pero le resta la mitad de su altura total porque queremos que quede a la mitad del fin del contenedor */
    display: block;
    padding: 15px;
    width: 229px;
    height: 48px;
    background-color: var(--off-white);
    box-shadow: 0 px 4px 8px var(--black);
    border: none;
    border-radius: 5px;
    font-size: 1.4rem;
    font-weight: bold;
    text-decoration: none;
    color: var(--black);
}

.header--button span {
    display: inline-block;
    width: 13px;
    height: 8px;
    margin-left: 1rem;
    background: url('/css/assets/icons/down-arrow.svg');
    background-repeat: no-repeat;
    background-size: auto;
}

/*-----------Terminando header-------*/

main{
    width: 100vw;
    height: auto;
    background-color: var(--off-white);

}

.main-exchange-container{
    width: 100vw;
    height: auto;
    padding-top:80px;
    padding-bottom: 30px;
    text-align: center;
}

.main-exchange-container--title{
    width: 90vw;
    min-width: 288px;
    max-width: 900px;
    margin: 0 auto;
}

.main-exchange-container .backgroundImg{
    width: 200px;
    height: 200px;
    margin: 0 auto;
    margin-bottom: 50px;
    background-image: url('/css/assets/img/Bitcoin.svg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.main-exchange-container h2{
    margin-bottom: 30px;
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 2.6rem;
    color: var(--black);
}

.main-exchange-container p{
    margin-bottom: 30px;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.6rem;
    color: #757575;
}

/*--------haciendo lista de precios de las criptomonedas----------*/

/*-----------intentando con Grid----------*/

/*---------haciendo segun el curso con las tablas-------------*/