/*
1. Pocisionamiento
2. Modelo caja
3. Tipografia
4. Visuales
5. Otros
*/

:root{
    /*Colores*/
    --bitcoin-orange:#f7931a;
    --soft-orange:#ffe9d5;
    --secondary-blue:#1a9af7;
    --soft-blue:#e7f5ff;
    --waerm-black:#201e1c;
    --black:#282623;
    --grey:#BABABA;
    --off-white:#faf8f7;
    --just-white:#fff;
}

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
html{
    font-size: 62.5%;
    font-family:'DM Sans', sans-serif; 
}

/*
font-family: 'Inter', sans-serif;
*/
body{
    background-color: #E5E5E5;
}
header{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100vw;
    min-width: 300px;
    height: 334px;
    text-align: center;
    background:linear-gradient(207.8deg, #201E1C 16.69%, #F7931A 100%);
}

header img {
    width: 150px;
    height: 24px;
    margin-top: 60px;
    align-self: center;
}
.header--title-containter{
    width: 90vw;
    min-width: 280px;
    max-width: 900px;
    height:218px;
    margin-top: 50px;
    text-align: center;
    align-self: center;
}
.header--title-containter h1{
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 26px;
    color: var(--just-white);
}

.header--title-containter p{
    margin-top: 25px;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 18px;
    color: var(--soft-orange);
}
.header--title-containter .header--button {
    position: absolute;
    left: calc(50% - 114.5px );/*Aca lo que hacemos es centrarlo verticalmente entonces lo corremos al 50% del contenedor pero le restamos la mitad de su tamaño para poder lograrlo*/
    top: calc(100% - 24px);/* Esto corre el boton al 100% del fondo pero le resta la mitad de su altura total porque queremos que quede a la mitad del fin del contenedor */
    display: block;
    padding: 15px;
    width: 229px;
    height: 48px;
    background-color: var(--off-white);
    box-shadow: 0 px 4px 8px var(--black);
    border: none;
    border-radius: 5px;
    font-size: 1.4rem;
    font-weight: bold;
    text-decoration: none;
    color: var(--black);
}

.header--button span {
    display: inline-block;
    width: 13px;
    height: 8px;
    margin-left: 1rem;
    background: url('/css/assets/icons/down-arrow.svg');
    background-repeat: no-repeat;
    background-size: auto;
}

/*-----------Terminando header-------*/

main{
    width: 100vw;
    height: auto;
    background-color: var(--off-white);

}

.main-exchange-container{
    width: 100vw;
    height: auto;
    padding-top:80px;
    padding-bottom: 30px;
    text-align: center;
}

.main-exchange-container--title{
    width: 90vw;
    min-width: 288px;
    max-width: 900px;
    margin: 0 auto;
}

.main-exchange-container .backgroundImg{
    width: 200px;
    height: 200px;
    margin: 0 auto;
    margin-bottom: 50px;
    background-image: url('/css/assets/img/Bitcoin.svg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.main-exchange-container h2{
    margin-bottom: 30px;
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 2.6rem;
    color: var(--black);
}

.main-exchange-container p{
    margin-bottom: 30px;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.6rem;
    color: #757575;
}

/*--------haciendo lista de precios de las criptomonedas----------*/

/*-----------intentando con Grid----------*/
/* #currency-table--title {
    text-align: center;
    font-size: 1.8rem;
    color: var(--bitcoin-orange);
    font-weight: 700;
}

.currency-table--data{
    background-color: var(--soft-orange);
    width: 170px;
    height: auto;
    margin: 0 auto;
    border-radius: 10px;

}
.currency-table--data p {
    font-size: 1.2rem;
    line-height: 1.936rem;
    text-align: center;
    color: var(--waerm-black);
    padding: 5px;
} */
/* .currency-table--container--grid{
    width: 60vw;
    max-width: 200px;
    margin: 0 auto;
    display: grid; 
    border-radius: 10px;
    grid-template-columns: repeat(2,minmax(10px,101px));
    margin-bottom: 15px;
    font-family:'Inter', sans-serif; 
    color: #B5B0AC;
    background-color: #fff;
}

.currency-table--container--grid .name__money, .price__money{
    border: 1px #E5E5E5 solid;
}
.name__money{
   display: flex;
   justify-content: center;
   align-items: center;
}
.name__money h4{
    font-size: 1.6rem;
    font-weight: 500;
}
.price__money{
    width: auto;
    height: auto;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content:space-around;
}
.price__money h5{
    font-size: 1.4rem;
    font-weight: 400;
    text-align: center;
    padding: 5px;
}

.currency-table--container--grid .price__money  span {
    display: block;
    width: 15px;
    height: 10px;
    background-image: url(/css/assets/icons/trending-up.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.currency-table--container--grid .price__money:nth-child(6) span{
    background-image: url(/css/assets/icons/trending-down.svg); 
}*/
/*---------haciendo segun el curso con las tablas-------------*/
.main-currency-table{
    width: 70%;
    min-width: 235px;
    max-width: 500px;
    height: 360px;
    margin: 0 auto;
    font-family: "Inter","sans-serif";
}
.main-currency-table #currency-table--title {
    margin-bottom: 15px;
    font-size: 1.8rem;
    font-weight: bold;
    line-height: 2.5rem;
    color: var(--bitcoin-orange);
}

.currency-table--container{
    width: 90%;
    min-width: 230px;
    max-width: 300px;
    height: 250px;
    margin: 0 auto;
}

.currency-table--container table{
    width: 100%;
    height: 100%;
}

.currency-table--container td{
    width: 50%;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1.9rem;
    color: var(--grey);
    background-color: var(--just-white);
}

.currency-table--container .table__top-left{
    border-radius: 15px 0 0 0;
}

.currency-table--container .table__top-right{
    border-radius: 0 15px 0 0;
}

.currency-table--container .table__bottom-left{
    border-radius: 0 0 0 15px;
}
.currency-table--container .table__bottom-right{
    border-radius: 0 0 15px 0;
}

.currency-table--container .table__right{
    font-size: 1.4rem;
    font-weight:normal ;
    line-height: 1.7rem;
    color: #757575;
}
.currency-table--container .down{
    display: inline-block;
    width: 15px;
    height: 15px;
    margin-left: 10px;
    background-image: url("/css/assets/icons/trending-down.svg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.currency-table--container #up{
    background-image: url(/css/assets/icons/trending-up.svg);
}

.space{
    width: 100%;
    height: 30px;
}
.currency-table--data{
    display: block;
    margin-top: 10px;
    background-color: var(--soft-orange);
    width: 190px;
    height: auto;
    margin: 0 auto;
    border-radius: 10px;

}
.currency-table--data p {
    font-size: 1.2rem;
    line-height: 1.936rem;
    text-align: center;
    color: var(--waerm-black);
    padding: 5px;
}

/* --------haciendo la segunda tabla con grid ----- */

.main-table-container--grid h2 {
    color: var(--secondary-blue);
    font-size: 1.8rem;
    font-weight: bold;
}

.currency-table-data--grid{
    background-color: #E7F5FF;
}

.main-table-container--grid{
    width: 235px;
    height: 360px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(2,minmax(100px,115px));
}

/* comenzado la seccion de las tarjetas */

