.last_img{
    background-image: url(/css/assets/img/bitcoinbaby2x.png);
    height: 700px;
    margin: 0;
    max-width: 1440px;
    margin: 0 auto;
}

.grid__twocolumns{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, minmax(250px, 300px));
    justify-content: center;
    column-gap: 15px;
}

.last_img h2{
    font-size: 3rem;
    width: auto;

    left: calc(50% - 101.85px);
}

.section__cars{
    height:480px ;
}
.plans-container--slider{
    max-width: 750px;
    margin: 0 auto;
    overflow: unset;
}

footer .footer{
    column-gap: 80px;
}

